.idea
*.iml
bin
target
.claude
.project
.classpath
.settings
.gradle
.springBeans
.factorypath
.apt_generated
.apt_generated_tests
*.log
temp
/.metadata
/.recommenders
*.pdb
.DS_Store
.spec-workflow
.vscode